<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body,html{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        div{
            width: 100%;
        }
        div p{
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
        }
        div p input{
          
            border:none;
            outline: none;
        }
        div p b{
            display: inline-block;
            width: 30%;
            text-align: right;
        }

        .ps{
            width: 100%;
            text-align: center;
            margin:20px 0;
        }
        .ps button{
            width: 30%;
            height: 30px;
        }
    h2{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }

.flex{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position:fixed;
}

.flex div{
    position: absolute;
    width: 50%;
    top:25%;
    left:25%;
    padding:10px;
    background: #fff;
    line-height: 30px;
    text-align: center;
}

.flex div input{
    height: 30px;
    outline: none;
    border:none;
    border-bottom:1px solid blue;
    width: 100%;
}

    </style>
</head>

<body>
    <div class="flex">
        <div>
            <p>请输入删除秘钥</p>
            <p><input type="password"></p>
            <p> <button class="yes">确定</button> <button class="no">取消</button></p>
        </div>

    </div>
    <h2> 信息登录表</h2>
    <div class="xinxi">

        <p><b>姓名：</b><input type="text" name="name" class="inps" value="<%=data.name%>" disabled></p>
        <p><b>年龄：</b><input type="number" name="age" class="inps" value="<%=data.age%>" disabled></p>

        <p><b>性别：</b>

            <input type="radio" name="sex" value="0" <%=data.sex==0?"checked":null%> disabled>男
            <input type="radio" name="sex" value="1" <%=data.sex==1?"checked":null%> disabled>女
        </p>

        <p><b>学院：</b><input type="text" name="coll" class="inps" value="<%=data.coll%>" disabled></p>
        <p><b>宿舍号：</b><input type="number" name="dorm" class="inps" value="<%=data.dorm%>" disabled></p>
        <p><b>个人电话：</b><input type="number" name="tel" class="inps" value="<%=data.tel%>" disabled></p>
        <p><b>家长电话：</b><input type="number" name="tels" class="inps" value="<%=data.tels%>" disabled></p>
        <p><b>家庭住址：</b><input type="text" name="address" class="inps" value="<%=data.address%>" disabled></p>
    </div>
    <p class="ps"><button class="add">修改</button><button class="clear">返回</button></p>

</body>
<script src="/common/axios.js"></script>
<script src="/javascripts/xiangqing.js"></script>

</html>